@charset "UTF-8";

@media screen and (min-width: 768px) and (max-width: 990px) {
    body {
        background: linear-gradient(to top, #49a09d, #5f2c82);
    }

    section#login {
        width: 80vw;
    }

    div#imagem {
        width: 30%;
        height: 100%;
        float: right;
    }

    div#formulario {
        width: 70%;
        float: left;
    }

    div.campo input {
        text-indent: 10px;
        display: flex;
        width: 428px;
    }
}

@media screen and (min-width: 992px) {
    body {
        background: linear-gradient(to top, #49a09d, #5f2c82);
    }
    
    section#login {
        width: 950px;
    }

    div#imagem {
        float: left;
        width: 30%;
        height: 100%;
    }

    div#formulario {
        float: right;
        width: 70%;
    }

    div#formulario h1{
        font-size: 2em;
    }

    div#formulario p {
        font-size: 1.2em;
    }

    div.campo input {
        text-indent: 10px;
        display: flex;
        width: 596px;
    }

    form input[type=submit] {
        display: block;
        width: 100px;
    }

    form a#botao {
        width: 300px;
        margin-left:20px;
    }

    form .display {
        display: flex;
        align-items: center;
    }

   
}
